<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.miniaibackend.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.miniaibackend.domain.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="orderDate" column="order_date" jdbcType="TIMESTAMP"/>
            <result property="orderAmount" column="order_amount" jdbcType="DECIMAL"/>
            <result property="startDate" column="start_date" jdbcType="TIMESTAMP"/>
            <result property="endDate" column="end_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,order_date,
        order_amount,start_date,end_date
    </sql>
</mapper>
