<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.miniaibackend.mapper.RoleMapper">

    <resultMap id="RoleResult" type="com.example.miniaibackend.domain.Roles">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>